<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/about.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<title>About | eduSCOPE</title>
<link rel="icon" href="css/images/logs.png">
  </head>
  <body>
     <div id="loader"></div>
    <header>
      <nav data-spy="affix" data-offset-top="197">
        <div class="logo">
            <h1 class="logo-name"><a href="/home"><img src="css/images/eduscope 3.png"></a></h1>
            </div>
            <ul>
              <li><a href="https://www.facebook.com/people/Anuj-Saklani/100009096110952/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/anuj.____.2000?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/search?q=%23login&lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anuj-saklani-86b811219/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
      </nav>
    </header>
    <main>

       <div class="navs">
              <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="tog">
                <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
            </ul>
            </div>
            <div class="bars">
            <button class="but"><i class="fas fa-bars"></i></button>
          </div>
            <div class="log-sec">
              <h3>Quit</h3>
              <button><a href="/logout">Logout</a></button>
               <button><a href="/privacy">Privacy</a></button>
            </div>
            </div>


<div class="about-area">
  <div class="part-a">
    <h1 class="a-head">ABOUT US</h1>
    <p class="p-head"> EduScope works at providing a very flexible learning solution. It aims at filling the learning gaps that are present in the classroom teaching. The youth must be provided with an ample amount of study materials and there is no hindrance in the learning process. Doing this effectively in the classroom alone is a very difficult task and hence, providing a solution at their doorstep may solve the problem.
    EduScope World stands with the mission to enrich the existing education system by providing a one-stop web portal for all education information needs of Jmit students providing them with
syllabus of each branch plus their semester topics and relevant study materials, previous year question papers and video references.</p>
  </div>
<div class="part-b">
  <img src="css/images/abou.jpg" alt="">
  </div>
    </div>

<div class="card-section">
  <h1 class="head-title"><span>W</span>hy <span>W</span>e?</h1>
  <div class="flex">
  <div class="grid-a">
    <div class="card-a card">
     <i class="fas fa-eye"></i>
     <h2>Our mission</h2>
     <p><span>&bull;</span>Our mission is to empower our college community to provide 'Education with an edge, not just education.<br>
      <span>&bull;</span>Our  team delivers strategic and technical responses to the challenges and opportunities posed by College students, technology and competition through offering results-oriented analysis, solutions and implementations to the subjects concern.

     </p>
    </div>
       <div class="card-b card">
       <i class="fas fa-crown"></i>
        <h2>Our vibe</h2>
        <p>
    <span>&bull;</span>
We call this place EduScope, and we provide not just the vision for this new world of learning but the information and community connections to make it a reality.<br>
    <span>&bull;</span>
In particular, in the 21st century, we believe three skills are fundamental: The ability to find
fact-based information,The ability to assess the quality of information
     </p>
    </div>
  </div>
    <div class="grid-b">
       <div class="card-c card">
      <i class="fas fa-handshake"></i>
        <h2>Our promise</h2>
        <p>
 <span>&bull;</span>It's our promise to this world where students become lifelong learners and develop 21st-century skills. It's a world where innovation is the rule, not the exception.<br>
 <span>&bull;</span>It's a world where college provides rigorous project-based learning, social and emotional learning, and access to new technology. In a world where students and parents.
     </p>
    </div>
       <div class="card-d card">
       <i class="fas fa-praying-hands"></i>
        <h2>Our essence</h2>
        <p>
        <span>&bull;</span>EduScope's commitment to our jmit Student's Community and to accelerating equality for all has never been more relevant than it is today.<br>
        <span>&bull;</span>
Your career is about what you want to be and who you want to be. Here, you'll match your ingenuity with the latest technology to make incredible things.
Together, let's create positive, long-lasting change.
     </p>
    </div>
  </div>
</div>
  </div>
<div class="dev-section">
  <h1>Developer Team</h1>
  <div class="dev-cards">
    <div class="dp">
      <img src="css/images/anuj.jpg" alt="error!">
<h3>Anuj Saklani</h3>

<h6>Full Stack Developer (L)</h6>
<h4> C.S.E | 2019-23</h4>
<a href="https://www.linkedin.com/in/anuj-saklani-86b811219/" target="_blank">Linkedin</a>
    </div>

     <div class="dp">
      <img src="css/images/deepanshu.jpg" alt="error!">
<h3>Deepanshu Arya</h3>

<h6>Full Stack Developer</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/deepanshu-arya-3495b7146" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/naman.jpg" alt="error!">
<h3>Naman Dhingra</h3>

<h6>Full Stack Developer</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/naman-dhingra-10490911a/" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/anmolgarg.jpeg" alt="error!">
<h3>Anmol Garg</h3>

<h6>Full Stack Developer</h6>
<h4> C.S.E | 2019-23</h4>
<a href="https://www.linkedin.com/in/anmol-garg-25a5771a2" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/aman.jpg" alt="error!">
<h3>Aman Deep Singh</h3>

<h6>Full Stack Developer</h6>
<h4> I.T | 2019-23</h4>
<a href="https://www.linkedin.com/in/amandeep-singh-699026196" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/akshat.jpg" alt="error!">
<h3>Akshat Garg</h3>

<h6>Front-end Developer</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/akshat-garg-a28578203" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/samridhi.jpg" alt="error!">
<h3>Samridhi Verma</h3>

<h6>Content Analyst</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/samridhiverma48" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/rakshu.jpg" alt="error!">
<h3>Rakshu Chauhan</h3>

<h6>Content Analyst</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/rakshu-chauhan-78b531221" target="_blank">Linkedin</a>
    </div>


     <div class="dp">
      <img src="css/images/harsh.jpeg" alt="error!">
<h3>Harsh Phutela</h3>

<h6>Graphic Designer</h6>
<h4> C.S.E | 2020-24</h4>
<a href="https://www.linkedin.com/in/harsh-phutela-0541a1bb" target="_blank">Linkedin</a>
    </div>

  </div>
</div>
 </main>
 <footer>
  <div class="foot-section">
     <ul>
       <li><a href="https://www.facebook.com/people/Anuj-Saklani/100009096110952/" target="_blank"><i class="fab fa-facebook"></i></a></li>
       <li><a href="https://instagram.com/anuj.____.2000?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
       <li><a href="https://twitter.com/search?q=%23login&lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
       <li><a href="https://www.linkedin.com/in/anuj-saklani-86b811219/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            <div class="c-r">
               <h5>&copy; Copyrights @<span>e</span>du <span>S</span>COPE. All rights reserved</h5>
<h6>Terms of use: <a href="/privacy"> Privacy Policy</a></h6>
            </div>
  </div>
</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
   <script type="text/javascript">
    let show=true;
     $(".but").click(function(){
if(show){
  $(".tog").slideDown()
  show=false;
}
else{
  $(".tog").slideUp()
  show=true;
}
     })
     setTimeout(function(){
        $("#loader").css("display","none");
     },1000)
   </script>
  </body>
</html>
