<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Error</title>
    <link rel="icon" href="#favlink">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/error.css">
    <link rel="stylesheet" href="css/fontawesome-free-5.15.4-web/css/all.css">
</head>

<body>
    <div class="main-container">
        <!-- Defining the Heading -->
        <div class="main-heading">
            <h1 class="heading-error">Oops! Something Went Wrong</h1>
            <a href="#"><i class="far fa-times-circle"></i></a>
        </div>
        <!-- Defining the main Area body-->
        <div class="main-body">
            <div class="content">
                <h2 class="heading-body">Connection Failed / Wrong Details</h2>
                <a href="/"><button type="button" class="button-cta">TRY AGAIN</button></a>
            </div>
            <h4 class="body-footer">@eduSCOPE</h4>
        </div>

    </div>

</body>

</html>
