<!doctype html>
<html lang="en">
 <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/outer.css">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700'>
 <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>new WOW().init()</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<title>eduSCOPE</title>
<link rel="icon" href="css/images/logs.png">
 </head>
 <body>
   <div id="loader"></div>
  <main>
   <nav>
     <div class="head">
       <div class="img-hold"><img src="css/images/eduscope 3.png" alt="not found!"></div>
       <div class="but-hold">
         <a href="/register">Sign up</a>
           <a href="/login">Sign in</a>
       </div>
     </div>
   </nav>
   <div class="container-a">
     <div class="wrap">
     <i class="fas fa-user-graduate"></i>
     <h1>Welcome to eduSCOPE </h1>
     <h2> A platform that has all the solutions of your queries!</h2>
     <a href="/login">Visit</a>
   </div>
   </div>
  </main>


<div class="main-part">
 <div class="cards-sec">
   <div class="card-a card">
     <h1>Latest Syllabus by KUK</h1>
     <div class="ro-a ro"><img src="css/images/o6.svg" alt=""> <h5>Latest Syllabus</h5></div>
      <div class="ro-b ro"><img src="css/images/o7.svg" alt=""> <h5>Practice papers for better grip</h5></div>
       <div class="ro-c ro"><img src="css/images/o8.svg" alt=""> <h5>One click download</h5></div>
       <div class="dual">
         <button><a href="/login">View</a></button>
         <img src="css/images/o1.svg" alt="">
       </div>
   </div>
    <div class="card-b card">
        <h1>Previous year Question papers</h1>
     <div class="ro-a ro"><img src="css/images/o3.svg" alt=""> <h5>Immersive in-class experience</h5></div>
      <div class="ro-b ro"><img src="css/images/o4.svg" alt=""> <h5>More than 400 plus pdfs</h5></div>
       <div class="ro-c ro"><img src="css/images/o5.svg" alt=""> <h5>One click download</h5></div>
       <div class="dual">
         <button><a href="/login">View</a></button>
         <img src="css/images/o2.svg" alt="">
       </div>
   </div>
   </div>

<section class="statistics text-center">
       <div class="data">
           <div class="conts">
               <h2 class="h1,about text-center wow bounceIn" data-wow-duration="2s" data-wow-offset="100">Our Main Statistics</h2>
               <div class="flexx">
                   <div class="col-md-3 col-sm-6">
                       <div class="stats gb">
                           <i class="fa fa-users fa-5x"></i>
                        <p id="count" >0</p>
                           <span>Visitors</span>
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 side">
                       <div class="stats gb">
                          <i class="fas fa-swatchbook fa-5x"></i>
                         <p class="counter-count">150</p>
                           <span>Syllabus</span>
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 side">
                       <div class="stats gb">
                         <i class="fas fa-calendar-check fa-5x"></i>
                        <p class="counter-count">420</p>
                           <span>Previous Year</span>
                       </div>
                   </div>
                   <div class="col-md-3 col-sm-6 side">
                       <div class="stats gb">
                           <i class="fas fa-child fa-5x"></i>
                         <p class="counter-count">800</p>
                           <span>Users</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>


<div class="container-b">
<div class="gurantee">
 <h1> Our Guarantee</h1>

<div class="guarantee-sec">

    <div class="gs">
     <i class="fas fa-chalkboard-teacher fa-4x"></i>
<h3>Latest Syllabus</h3>
<p>One-click download adding time efficiency<br>
   and effectiveness in the lives of the  <br>
      student making system easy and  <br>
        Fast .No charge of downloading  <br>
          it's free of cost and<br>
              reliable. </p>
   </div>


    <div class="gs">
     <i class="fas fa-check-square fa-4x"></i>
<h3>Resource Learning</h3>
<p>Feel free to discuss your doubts about<br>
    topics. Here, you can access all <br>
      the sample papers and syllabus<br>
       of kurukshetra university <br>
        effortlessly and fully<br>
             free.
</p>
   </div>


    <div class="gs">
      <i class="fas fa-trophy fa-4x"></i>
<h3>Resourced information</h3>
<p>We have done exploration for providing <br>
    you the appropriate syllabus and <br>
    latest sample papers of the<br>
     kurukshetra university.<br>
      We have collected <br>
        data.


</p>
   </div>


    <div class="gs">
    <i class="fas fa-award fa-4x"></i>
<h3>Quick Review</h3>
<p>Lastly we are providing you the quick<br>
   analysis about our website here,<br>
    you can access all the kuk <br>
     sample papers easily and <br>
        without spending a <br>
            penny.
</p>
   </div>

</div>

</div>
</div>

<div class="container-c">
 <h1>Features Section</h1>
 <div class="posters">
   <div class="post-a post">
  <h3><i class="fas fa-check"></i> One click Download</h3>
  <p>One-click download adding time efficiency
   and effectiveness in the lives of the
      student making system easy and
        Fast .No charge of downloading
          it's free of cost and
              reliable.</p>
   </div>
       <div class="post-b post">
          <h3><i class="fas fa-check"></i>Discussion Platform</h3>
  <p>Feel free to discuss your doubts about various topics by giving suggestions in the discussion chat Box. All the suggestions held important value for our website improvisation </p>
   </div>
       <div class="post-c post">
          <h3><i class="fas fa-check"></i>Quick Ping</h3>
  <p>Introducing our very own chatbot so you can quickly ping us. All the queries related to various topics will be answered by our team on the go.</p>
   </div>
       <div class="post-d post">
          <h3><i class="fas fa-check"></i>OAuth Security</h3>
  <p>We are using the 6th level of security authentication. Keeping student's privacy is our utmost priority. The database is secure and encrypted for secure use.</p>
   </div>
 </div>

</div>



<div class="foot-section">
  <div class="c-r">
     <h6> Terms of use: <a href="/privacy">Privacy Policy</a></h6>
   <h5>&copy; Copyrights @<span>e</span>du<span>S</span>COPE. All rights reserved</h5>
   </div>
 </div>

</div>




   <div class="shift">
<div class="chat-cont">
 <h3>Please fill out the form below and we will get back to you as soon as possible</h3>
 <form action="/chatboat" method="post">
   <div class="row-a row">
     <h6>* Name</h6>
     <input type="text" name="un" class="ip1 ip" id="ip1" placeholder="Name">
   </div>
    <div class="row-b row">
     <h6>* Email</h6>
     <input type="email" name="mail" class="ip2 ip" id="ip2" placeholder="Email">
   </div>
    <div class="row-c row">
     <h6>* Message</h6>
   <textarea name="msg" class="ip3" placeholder="Message"></textarea>
   </div>
   <button type="submit" class="sub"><i class="fas fa-paper-plane"></i> Submit</button>
 </form>
 <div class="footer">
   <h6>Chat <i class="fas fa-bolt"></i> by eduSCOPE</h6>
 </div>
 <div class="slider">
   <div class="upper">
     <button class="arrow"><i class="fas fa-chevron-left"></i></button>
   </div>
   <div class="mid">
     <h6> Your message was sent successfully!</h6>
     <button class="return">Send Again</button>
   </div>
 </div>
</div>
</div>
<button class="but-ics"><i class="fas fa-comment is"></i></button>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="jquery.counterup.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">
   $('.counter-count').each(function () {
       $(this).prop('Counter',0).animate({
           Counter: $(this).text()
       }, {
           duration: 5000,
           easing: 'swing',
           step: function (now) {
               $(this).text(Math.ceil(now));
           }
       });
   });

     const countEl = document.getElementById('count');

 updateVisitCount();

function updateVisitCount() {
 $("#loader").css("display","block");
fetch('https://api.countapi.xyz/update/eduscope/1447667c-48ec-40f2-b964-de5f0f6735c0/?amount=1')
 .then(res =>  res.json())
 .then(res => {
   countEl.innerHTML = res.value;
 })
}


 $(".chat-cont").fadeOut();
 var show =true;
 $(".but-ics").click(function(){
   if(show){
     $(".is").removeClass("fa-comment");
     $(".is").addClass("fa-times");
     $(".chat-cont").fadeIn();
      $(".chat-cont").css("left","5px")

    show =false;
   }
   else{
      $(".is").addClass("fa-comment");
     $(".is").removeClass("fa-times");
      $(".chat-cont").fadeOut();
       $(".chat-cont").css("left","-9999px")

              show =true;
   }

 })

 $(".sub").click(function(){
   if( $(".ip1").val()===''){
     $(".ip1").css("border","solid 1.5px red")
   }
    if($(".ip2").val()===''){
      $(".ip2").css("border","solid 1.5px red")
   }
    if($(".ip3").val()===''){
       $(".ip3").css("border","solid 1.5px red")
   }


    setTimeout(function(){
      $(".ip1").css("border","solid 1px grey")
       $(".ip2").css("border","solid 1px grey")
     $(".ip3").css("border","solid 1px grey")
   },6000)
 })
      $(".slider").slideUp();
  $(".sub").click(function(){
   if($(".ip1").val()!=='' && $(".ip2").val()!=='' && $(".ip3").val()!==''){
     $(".slider").slideDown();
   }
    })

   $(".arrow").click(function(){
 $(".slider").slideUp();
    })
    $(".return").click(function(){
 $(".slider").slideUp();


    })

$(window).ready(function(event){
 event.preventDefault();
});
setTimeout(function(){
   $("#loader").css("display","none");
},2000)
</script>
 </body>
</html>
