<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/confess.css" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <title>Privacy | eduSCOPE</title>
  <link rel="icon" href="css/images/logs.png">
  </head>
  <body>
     <div id="loader"></div>
    <header>
      <nav data-spy="affix" data-offset-top="197">
        <div class="logo">
         <h1 class="logo-name"><a href="/home"><img src="css/images/eduscope 3.png"></a></h1>
        </div>
        <ul>
          <li><a href="https://www.facebook.com/people/Anuj-Saklani/100009096110952/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/anuj.____.2000?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/search?q=%23login&lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anuj-saklani-86b811219/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="navs">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="tog">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="bars">
          <button class="but"><i class="fas fa-bars"></i></button>
        </div>
        <div class="log-sec">
          <h3>Quit</h3>
          <button><a href="/logout">Logout</a></button>
           <button><a href="/privacy">Privacy</a></button>
        </div>
      </div>

      <section class="privacypage-container">
        <h2 class="priacy-page-mainheading">Privacy Policy</h2>
        <p class="privacy-policy-text">
          This Privacy policy has been compiled to better serve those people who
          has a concerned about that how their data is used online . This
          privacy policy is designed assist you in understanding how
          ConfessDiary collects, uses, maintains and discloses the personal
          information collected from every individual user of
          <a href="">EduScope</a>
        </p>
        <h4 class="priavacy-policy-subheading">Information We collect</h4>
        <p class="privacy-policy-text">
          <strong>EduScope</strong> collect personal information from Users
          in various ways including when Users visit our site, filling the
          contact form , signUp . When filling the form, Users may be asked to
          enter an appropriate name and email address. We may also collect the
          personal information from Users only if they voluntarily submitted to
          us . Users have every right to refuse to supply personal information,
          however, it may prevent them from accessing certain services (but not
          all) provided by the site.
        </p>
        <h4 class="priavacy-policy-subheading">
          How do we use your information ?
        </h4>
        <p class="privacy-policy-text">
          we may use the information of user provided by cookies,log files,
          device identifiers in one of the following ways
          <ul class="privacypolicy-listitem">
              <li><strong>To provide better User Experience:</strong> we may use the user's information to personalized the website and provide the best experience to user as per their need</li>
              <li><strong>For providing Better Service:</strong>We might use the user’s information to respond to the queries or provide service personally or individually.</li>
              <li><strong>To provide Information:</strong>We might be use the user’s information or email id to send the ocassionaly email about the important updates, site changes and newly added services.</li>
              <li><strong>To improve our Website: </strong>We may use the user’s feedback to improve our website.</li>
          </ul>
        </p>
        <h4 class="priavacy-policy-subheading" style="padding-top: 2rem;">
            How we protect your information?
        </h4>
        <p class="privacy-policy-text">
            We implement appropriate storage and processing practices and security measures to protect the data collected by this website against unauthorized access, data alteration or disclosure of your personal information such as username, password, email information and data stored on our Site.
        </p>
        <h4 class="priavacy-policy-subheading">
            Sharing of Your Information
        </h4>
        <p class="privacy-policy-text">we assure you that we will not Sharing sell or rent your information without your approval your information is completely safe , except th following
            <ul class="privacypolicy-listitem">
                <li>EduScope will share your personnal information if its ordered by the law to protect our rights or personal safety of the site</li>
                <li>We may share the Users  information with our business partners, trusted Advertisers and Affiliates. This will not include any personal information that can identify the individual person.</li>
            </ul>
        </p>
        <h4 class="priavacy-policy-subheading" style="padding-top: 2rem;">
            Third Party Websites
        </h4>
        <p class="privacy-policy-text">We are not responsible for the content and policy practices of the websites linked from our site or to this site. Occasionally, we may refer to third party websites (URLs) to provide the information on the topics we haven’t covered. Please remember, every website may have its own privacy policies. So, when you use the links from <strong>EduScope</strong> to a third-party website, you are no longer subjected to our Privacy Policies. We strongly recommend the users to check, Third party websites Privacy Policies before browsing them.</p>
        <h4 class="priavacy-policy-subheading">
            Changes to This Privacy Policy
        </h4>
        <p class="privacy-policy-text">By using this site you are agreed with us, to collect and use your personal information as described in this Privacy Policy.Privacy policy are change time to time we will update you if there is any change or update in a privacy policy</p>
        <h4 class="priavacy-policy-subheading">
            Contact us
        </h4>
        <p class="privacy-policy-text">If you have any queries about our Privacy Policy, Please feel free to contact us at:
            <a href="/contact">Eduscope.contacUs</a>

        </p>
        <p class="privacy-policy-footer">This Privacy Policy was last modified on <cite>Oct 04,2021</cite></p>
      </section>
    </main>
    <footer>
      <div class="foot-section">
        <ul>
          <li><a href="https://www.facebook.com/people/Anuj-Saklani/100009096110952/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://instagram.com/anuj.____.2000?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/search?q=%23login&lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/anuj-saklani-86b811219/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div class="c-r">
          <h5>&copy; Copyrights @<span>e</span>du<span>S</span>COPE. All rights reserved</h5>
          <h6>Terms of use: <a href="/privacy"> Privacy Policy</a></h6>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script type="text/javascript">
      let show = true;
      $(".but").click(function () {
        if (show) {
          $(".tog").slideDown();
          show = false;
        } else {
          $(".tog").slideUp();
          show = true;
        }
      });
      setTimeout(function(){
         $("#loader").css("display","none");
      },1000)
    </script>
  </body>
</html>
